# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
DevRanger
*.out
*.app
desktop.ini

#others
*.dll
LICENSE

#draw.io 
*.bkp
*.png 

# confidentiality issues (exposes username of dev's PC)
src/Doxyfile 


Meta/ClassDiagrams/StaticGameTile idea.drawio
ressources/Images/walls taken.xcf
src/UnitTesting/States/main.cpp
src/UnitTesting/States/MenuTest.cpp
src/UnitTesting/States/MenuTest.h

